.container {
  width: 100%;
  overflow-x: auto;
}

#Godzilla-movies {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  height: 300px;
  width: 100%;
  overflow-y: auto;
}

img {
  height: 200px;
  width: auto;
  transition: transform 0.5s ease;
}

#Godzilla-movies img:hover {
  transform: scale(1.5);
  z-index: 1;
  overflow-y: visible;
  transform-origin: center top;
}

h1 {
  text-align: center;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/56/armageddon-2721568_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

h2 {
  color: rgb(255, 255, 255);
}

#selected-image-div {
  width: 20%;
  padding: 10%;
  float: left;
}

#selected-description {
  width: 30%;
  padding: 30px;
  float: left;
  background-image: linear-gradient(
    rgba(223, 2, 2, 0.88) 1%,
    rgba(255, 255, 255, 0.857) 100%
  );
}

#selected-img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

#movie-title {
  font-size: 25px;
}

#movie-description {
  font-size: 20px;
}

#movie-year {
  font-size: 15px;
}
#movie-producer {
  font-size: 15px;
}
#movie-director {
  font-size: 15px;
}
#movie-monster {
  font-size: 15px;
}
